<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
	<title>Eat-Da-Burger!</title>
</head>

<body>
	<img src="/assets/img/burger.jpg" alt= "Image of Burgers Collage" id="burger collage" align="right">

	{{{ body }}}

</body>
</html>
